@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 175.7 66.7% 92.2%;
    --foreground: 180 100% 15%;
    --card: 175.7 66.7% 95%;
    --card-foreground: 180 100% 15%;
    --popover: 175.7 66.7% 95%;
    --popover-foreground: 180 100% 15%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 175.7 66.7% 95%;
    --secondary: 175.7 50% 85%;
    --secondary-foreground: 180 100% 20%;
    --muted: 175.7 50% 88%;
    --muted-foreground: 180 25% 40%;
    --accent: 35.2 65.1% 49.6%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 20% 85%;
    --ring: 180 100% 25.1%;
    --chart-1: 180 100% 25.1%;
    --chart-2: 35.2 65.1% 49.6%;
    --chart-3: 180 50% 50%;
    --chart-4: 175 60% 60%;
    --chart-5: 35 50% 60%;
    --radius: 0.5rem;
    --sidebar-background: 180 30% 97%;
    --sidebar-foreground: 180 100% 15%;
    --sidebar-primary: 180 100% 25.1%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 175.7 66.7% 92.2%;
    --sidebar-accent-foreground: 180 100% 15%;
    --sidebar-border: 180 20% 80%;
    --sidebar-ring: 35.2 65.1% 49.6%;
  }
  .dark {
    --background: 180 10% 8%;
    --foreground: 175.7 66.7% 92.2%;
    --card: 180 10% 10%;
    --card-foreground: 175.7 66.7% 92.2%;
    --popover: 180 10% 8%;
    --popover-foreground: 175.7 66.7% 92.2%;
    --primary: 175.7 66.7% 92.2%;
    --primary-foreground: 180 100% 15%;
    --secondary: 180 10% 15%;
    --secondary-foreground: 175.7 66.7% 92.2%;
    --muted: 180 10% 15%;
    --muted-foreground: 180 10% 60%;
    --accent: 35.2 65.1% 49.6%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 10% 15%;
    --input: 180 10% 15%;
    --ring: 35.2 65.1% 49.6%;
    --chart-1: 175.7 66.7% 92.2%;
    --chart-2: 35.2 65.1% 49.6%;
    --chart-3: 180 50% 70%;
    --chart-4: 175 60% 80%;
    --chart-5: 35 50% 80%;
    --sidebar-background: 180 10% 10%;
    --sidebar-foreground: 175.7 66.7% 92.2%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 180 10% 15%;
    --sidebar-accent-foreground: 175.7 66.7% 92.2%;
    --sidebar-border: 180 10% 15%;
    --sidebar-ring: 35.2 65.1% 49.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
